#calbody{
    border: solid .5px black;
    width: 30%;
    height: 520px;
    margin-left: 35%;
    margin-top: 5%;
    box-shadow: 0 0 5px;
    background-color: #405263;
    border-radius: 15px;
}
.calbtn{
    display: flex;
    gap: .5%;
    flex-wrap: wrap;
}
.key{
    margin-top: 5%;
    height: 80px;
    width: 21%;
    margin-left: 2.9%;
    font-weight: bold;
    font-size: 120%;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
.key:active{
    transform: scale(.95);
}
#display{
    border: none;
    width: 93.5%;
    height: 70px;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 140%;
    text-align: right;
    background-color: #d3e3f1;
    color: black;
    border-radius: 10px;
    outline-style: none;
}
#clear{
    border: none;
    font-weight: bold;
    color: white;
    background-color: red;
    box-shadow: 0 5px 0px rgb(211, 0, 0);
}
.num{
    border: none;
    color: black;
    background-color:#fcfdfd ;
    box-shadow: 0 4px 0px #ced8d9;
}
.equal{
    border: none;
    background-color: #fe7e01;
    color: white;
    box-shadow: 0 5px 0px #eb6409;
}
.op{
    border: none;
    background-color: #fcfdfd;
    color: black;
    box-shadow: 0 5px 0px #ced8d9;
}
